@using System.Linq
@model IEnumerable<Course.ITnews.Domain.Contracts.ViewModels.NewsViewModel>
@{
    ViewBag.Title = "News";
}
<h2>News</h2>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
@foreach (var item in Model)
{

    <div class="card">
        <div class="card-header  justify-content-between d-flex">
            <div>@Html.DisplayFor(modelItem => item.Author)</div>
            <div>@Html.DisplayFor(modelItem => item.Updated)</div>            
            </div>
        <div class="card-body">
            <input type="hidden" asp-for="@item.Id" id="newsId" />
            <h5 class="card-title">
                @Html.DisplayFor(modelItem => item.Title)
                
            </h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>

            <label class="mt-5" for="input-2">Average rating:</label>
            <div class="justify-content-between d-flex">
                <div class="d-flex">
                <input id="input-2" name="input-2" value="@item.AverageRating" change="postRating" class="rating rating-loading" data-ajax="true" data-ajax-method="post" data-ajax-complete="postRating" data-step="1" />
                <span class="mt-3 pl-2">@item.Ratings.Count() users rated</span>
                </div>
                <div class="blockquote text-right pr-3 ">
                    <a href="@Url.Action("Details", "News", new {id = item.Id})" class="btn btn-primary">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <a href="@Url.Action("Delete", "News", new {id = item.Id})" class="btn btn-danger">Delete</a>
                            <a href="@Url.Action("Edit", "News", new {id = item.Id})" class="btn btn-primary">Edit</a>
                        }
                    }

                </div>

            </div>
        </div>
    </div>

}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js" type="text/javascript"></script>
<p></p>
