@model IEnumerable<Course.ITnews.Domain.Contracts.ViewModels.NewsViewModel>
@{
    ViewBag.Title = "News";
}

<h2>News</h2>
@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
           @Html.DisplayFor(modelItem=>item.Author)
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
            <a href="@Url.Action("Edit","News",new {id = item.Id})" class="btn btn-primary">Edit</a>
            <a href="@Url.Action("Details","News",new {id = item.Id})" class="btn btn-primary">Details</a>
            <a href="@Url.Action("Delete","News",new{id=item.Id})" class="btn btn-danger">Delete</a>
            </div>
    </div>
}
<p></p>
<p><a href="@Url.Action("Create","News")" class="btn btn-primary">Create</a></p>
<script src="~/js/rating.js"></script>
<link rel="stylesheet" type="text/css" href="~/js/rating.css">
